:root {
  --blanco: #f2f2f2;
  --oscuro: #259686;
  --medio: #51aa92;
  --claro: #7dbe9e;
  --verde: #aad3aa;
}

.blanco {
  color: var(--blanco) !important;
}

.oscuro {
  color: var(--oscuro) !important;
}

.medio {
  color: var(--medio) !important;
}

.claro {
  color: var(--claro) !important;
}

.verde {
  color: var(--verde) !important;
}

.bg-blanco {
  background-color: var(--blanco) !important;
}

.bg-oscuro {
  background-color: var(--oscuro) !important;
}

.bg-medio {
  background-color: var(--medio) !important;
}

.bg-claro {
  background-color: var(--claro) !important;
}

.bg-verde {
  background-color: var(--verde) !important;
}

.a-oscuro {
  color: var(--oscuro);
  text-decoration: none;
}

.a-oscuro:hover,
.a-oscuro:active {
  color: var(--medio) !important;
}

.a-animado {
  position: relative;
  z-index: 2;
  text-decoration: none;
  font-size: 19px;
}

.a-animado::before {
  position: absolute;
  content: '';
  bottom: -2px;
  left: -2px;
  width: 17px;
  height: 17px;
  border-bottom: 2px solid var(--oscuro);
  border-left: 2px solid var(--oscuro);
  opacity: 0;
  transition: .3s all ease;
}

.a-animado:hover::before {
  border-bottom: 2px solid var(--claro);
  border-left: 2px solid var(--claro);
  bottom: -7px;
  left: -11px;
  opacity: 1;
}

.a-animado::after {
  position: absolute;
  content: '';
  top: -2px;
  right: -4px;
  width: 17px;
  height: 17px;
  border-top: 2px solid var(--oscuro);
  border-right: 2px solid var(--oscuro);
  opacity: 0;
  transition: .3s all ease;
}

.a-animado:hover::after {
  border-top: 2px solid var(--claro);
  border-right: 2px solid var(--claro);
  top: -6px;
  right: -12px;
  opacity: 1;
}

.mi-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

#bg {
  background-color: var(--verde);
  min-height: 100vh;
}

.main-padding {
  padding: 85px 0 30px;
}

figure {
  margin: 0;
  padding: 0;
  font-size: 0;
}

img {
  display: block;
}

.input-pill {
  width: 100%;
  padding: 13px 35px;
  border: 2px solid transparent;
  border-radius: 9999px;
  outline: none;
  font-size: 18px;
}

.input-pill:focus {
  border: 2px solid var(--oscuro) !important;
}

.btn-pill {
  padding: 7px 20px;
  border: 2px solid var(--oscuro);
  border-left: 0;
  border-radius: 9999px;
  background-color: var(--medio);
  color: var(--blanco);
  font-size: 19px;
  font-weight: 500;
  transition: .2s all;
}

.btn-pill:hover,
.btn-pill:active {
  background-color: var(--oscuro);
}