#home-container {
  margin-top: 100px;
}

#home-form input[type="text"] {
  padding: 13px 35px;
  border: 2px solid var(--oscuro);
  border-radius: 9999px 0 0 9999px;
  outline: none;
  font-size: 18px;
}

#home-form input[type="submit"] {
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid var(--oscuro);
  border-left: 0;
  border-radius: 0 9999px 9999px 0;
  background-color: var(--medio);
  color: var(--blanco);
  font-size: 19px;
  font-weight: 500;
  transition: .3s all;
}

#home-form input[type="submit"]:hover,
#home-form input[type="submit"]:active {
  background-color: var(--oscuro);
}